<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-50770211-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-50770211-4');
    </script>

  </head>
  <body>

    <nav>
      <div class="inner">
        <img src="/images/sunglasses_trimmed.png" height=12px>
        |
        <a href="/"><strong>Optimistic Weather</strong></a>
        |
        <a href="/about">About</a>
      </div>
    </nav>

    <div class="container">
      <div class="forecast">
        <span class="glassesIcon">
          <img src="/images/sunglasses_black.png" alt="weather icon">
        </span>
        <span class="currently">
          <span class="description swap">
            <span>Optimistic Weather</span>
            <span class="summaryWeather about">Optimistic weather polls some weather APIs and returns the results in order from most to least optimistic.</span>
            <span class="summaryWeather about">The logic is still pretty basic. Rain = automatic bottom, otherwise the sources are ranked by temperature.</span>
            <span class="summaryWeather about">The app is built on Node.js in the backend, using Express for the web framework and Handlebars for the templating/view engine to create the web pages.</span>
            <span class="summaryWeather about">I learned a ton, and jotted some of it down <a href="https://github.com/richardcadman/optimistic-weather/blob/master/README.md"> here.</a> I'm hoping my next project will make use of a database and some kind of front-end framework like Vue.js or React.</span>
            <span class="summaryWeather about"></span>
            <span class="summaryCredit">Icons from <a href="http://adamwhitcroft.com/climacons/">Adam Whitcroft</a></span>
            <span class="summaryCredit">Sunglasses from <a href="https://thenounproject.com/term/sunglasses/32677/">Ruben Vh</a></span>
            <span class="summaryCredit">Idea for this from Sash n Jack</span>
          </span>
          </span>
        </div>
      </div>

  </body>
</html>
